<!DOCTYPE html>
<html lang="en" xmlns:th= "http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>游戏房间</title>
    <meta charset="utf-8" name="viewport" content="width=device-width">
    <link rel="stylesheet" th:href="@{/webjars/mdui/dist/css/mdui.css}">
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/webjars/mdui/dist/js/mdui.js}"></script>
</head>
<body class="mdui-theme-primary-indigo mdui-theme-accent-pink">

<div class="mdui-container">
    <div class="mdui-toolbar mdui-color-theme">
        <a class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">menu</i></a>
        <span class="mdui-typo-title">
           游戏房间
        </span>
        <div class="mdui-toolbar-spacer"></div>
        <a class="mdui-btn mdui-btn-icon" href="https://www.baidu.com" target="_blank"><i
                class="mdui-icon material-icons">search</i></a>
        <a class="mdui-btn mdui-btn-icon" href="login.html"><i
                class="mdui-icon material-icons">exit_to_app</i></a>
        <a class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">more_vert</i></a>
    </div>
</div>

<div>
    <div class="mdui-container container_text">

        <div class="mdui-row">
            <div class="mdui-col-xs-12 mdui-col-sm-6">
                <div class="mdui-col-xs-12 mdui-col-sm-10">
                    <div class="mdui-textfield-floating-label" style="margin-top:15px">
                        <i class="mdui-icon material-icons">房主：</i>
                        <i class="mdui-icon" id="host" th:text="${host}"></i>
                        <i class="mdui-icon" id="username" th:text="${username}" hidden></i>
                    </div>
                </div>
                <div class="mdui-col-xs-12 mdui-col-sm-10">
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <i class="mdui-icon material-icons">textsms</i>
                        <label class="mdui-textfield-label">发送内容</label>
                        <input class="mdui-textfield-input" id="msg"/>
                    </div>
                    <div class="mdui-container" style="padding:20px 35px">
                        <button class="mdui-btn mdui-color-theme-accent mdui-ripple"
                                onclick="sendMsgToServer()">发送 (enter)
                        </button>
                        <button class="mdui-btn mdui-color-theme mdui-ripple"
                                onclick="clearMsg()">清屏
                        </button>
                    </div>
                </div>
            </div>
            <div class="mdui-col-xs-12 mdui-col-sm-10">
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <i class="mdui-icon material-icons">textsms</i>
                        <label class="mdui-textfield-label">发送位置坐标</label>
                        <input class="mdui-textfield-input" id="location"/>
                    </div>
                    <div class="mdui-container" style="padding:20px 35px">
                        <button class="mdui-btn mdui-color-theme-accent mdui-ripple"
                                onclick="sendLocationToServer()">确定 (enter)
                        </button>
                        <button class="mdui-btn mdui-color-theme mdui-ripple"
                                onclick="ready()" id = "ready">准备
                        </button>
                    </div>
                </div>
            </div>

            <div class="mdui-col-xs-6 mdui-col-sm-5" style="padding:10px 0">
                <div class="mdui-chip">
                    <span class="mdui-chip-icon mdui-color-blue">
                        <i class="mdui-icon material-icons">&#xe420;</i></span>
                    <span class="mdui-chip-title">
                        聊天内容
                    </span>
                </div>

                <div class="mdui-chip">
                    <span class="mdui-chip-icon mdui-color-blue">
                        <i class="mdui-icon material-icons">face</i></span>
                    <span class="mdui-chip-title">在线人数</span>
                    <span class="mdui-chip-title chat-num">0</span>
                </div>
                <div class="mdui-chip">
                        <span class="mdui-chip-icon mdui-color-blue">
                            <i class="mdui-icon material-icons">face</i></span>
                        <span class="mdui-chip-title">准备的玩家数：</span>
                        <span class="mdui-chip-title " id = "readyNum">0</span>
                    </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    
    var websocket = new WebSocket('ws://' + window.location.host + '/play/' + $('#host').text());
    websocket.onopen = function(event){
        console.log("connect");
    };

    websocket.onmessage = function(event){
        console.log("websocket : %c" + event.data,'color:green');
        var message = JSON.parse(event.data);
        var $messageContainer = $('.message-container');

        if(message.type == "Speak"){
            $messageContainer.prepend('<div class="mdui-card" style="margin: 10px 0;">' +
                    '<div class="mdui-card-primary">' +
                    '<div class="mdui-card-content message-content">' + message.username + "：" + message.message + '</div>' +
                    '</div></div>');
        }else if(message.type == "Play"){
            playGame(message);
        }
        $('.chat-num').text(message.onlineCount);
        var $cards = $messageContainer.children('.mudi-card:visible').toArray();
        if($cards.length >= 5){
            $cards.forEach(function(item,index){
                index < $cards.length && $(item).slideUp('fast');
            });
        }
    };


    function sendMsgToServer(){
        var $message = $('#msg');
        if($message.val()){
            websocket.send(JSON.stringify({type: "Speak", username: $('#username').text(), message: $('#msg').val(), onlineCount: $('.chat-num').text()}));
            $message.val(null);
        }
    }

    function sendLocationToServer(){
        var $location = $('#location');
        if($location.val()){
            websocket.send(JSON.stringify({
                type: "Play",
                username: $('#username').text(),
                message: $('#location').val(),
                onlineCount: $('.chat-num').text()
            }));
            $location.val(null);
        }
    }

    websocket.onclose = function(event){
        console.log("websocket close");
    };

    function ready(){
        var username = $('#username').text();
        $.ajax({
            type: 'get',
            url: 'http://localhost:8080/ready',
            success:function(data){
                var info = JSON.parse(data.message);
                var readyStatus = document.getElementById("ready");
                info.status == 1 ? alert("请等待其他玩家准备") : alert("真的要狠心取消么？") 
                readyStatus.innerHTML = info.status == 1 ? '取消准备' : '准备';
                var readynum = document.getElementById("readyNum");
                readynum.innerHTML = info.readyNum;
            }
        });
    }

    function playGame(Message){
        
    }

    document.onkeydown = function(event){
        var e = event || window.event || arguments.callee.caller.arguments[0];
        e.keyCode === 13 && sendMsgToServer() && sendLocationToServer();
    }
</script>
</body>
</html>